In [2]:
#function

def add (a,b):
    c=a+b
    print(c)

In [3]:
add(1,7)

8

steps to involved in making user-defined function
1. define function name
2. we need to dedide the no. of parameters per the function
3. come inside the funcition body & write logic of your function
4.call the function outside the body of function and the pass the value

In [ ]:
#wa function to convert celcius degree temprature to farenhite.
  °F = (°C × 9/5) + 32

In [6]:
def far (c):
    fa=(c*9/5)+32
    print(fa)

In [9]:
far(12)

53.6

In [10]:
far(-40)

-40.0

In [ ]:
farenhite to celcius
#C = (°F − 32) x 5/9

In [13]:
#wap to find the grade of students by taking marks.
def marks(math,hin,eng,urdu,sci):
    mark=math+hin+eng+urdu+sci
    if mark>300:
        print('A')
    elif mark>250:
        print('B')
    elif mark>180:
        print('C')

In [14]:
marks(29,89,86,89,86)

A

In [17]:
def grade(marks):
    if marks>=90:
        print('A')
    elif 90>marks>=80:
         print('B')
    elif 80>marks>=80:
         print('C')
grade(91)

A

In [47]:
# Return in function

def add(a,b):
    c=a+b
    return c
    print('this is done')
add(20,50)

70

In [22]:
# round function

round(129.899299,2)

129.9

In [25]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [26]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
#wa function to greet people with good morning if thier name has a in it. else greet hello .take input from user regarding the people

In [59]:
def greet():
    n=input('enter a name ').split( )
    for i in n:
        if 'a' in i:
            print('good morning',i)
        else:
            print('hello',i)
greet()

enter a name ranchi
good morning ranchi

In [11]:
''' home work-  function- q-10,q-1 on w3 resources
#wap to create your own range() function
'''

#wa function to create own range() function

def myrange(start,end,step):
    step=0
    
    if start<end:
        step=+1
        for i in 
    else:
        step=-1
        
        
        
myrange(1,5,3)

(1, 5)

In [39]:
def full_name (firstname,lastname):
    print(firstname + " " +  lastname)

In [41]:
full_name('arif','alam')

arif alam

In [45]:
def arif(*kids):
       print('my youngest child'+ kids[1])

In [46]:
arif('aslam','anwar','gulati')

my youngest childanwar

In [64]:
# function return 2 values

def add_sub(x,y):
    a=x+y
    s=x-y
    return a,s;

In [72]:
add,sub=add_sub(30,10)
print(add)
print(sub)

40
20

In [73]:
def fun():
    return 'a','b','c','d'

In [74]:
fun()

('a', 'b', 'c', 'd')

In [75]:
type(fun())

tuple

In [1]:
a=10,9,6

In [3]:
#wa function to calculate factorial using while loop:

def fact():
    n=int(input('please enter the num'))
    
    i=0
    f=1
    while i<n:
        i+=1
        f=f*i
       
    return f

In [4]:
fact()

please enter the num5

120

In [18]:
#Arguments Type 

#position Argumnents

def person(name,age):
    print(name)
    print(age)
    
person('rahul',20)

# 2. keyword Argumnents

def person(name,age):
    print(name)
    print(age)
    
person(age=25,name='sumit')

# 2. Default Argumnents

def person(name,age=18):
    print(name)
    print(age)
    
person('aditya')
person('amit',23)

# 2. Variable length Argumnents

def sum(*b):
    c=0
    for i in b:
        c=c+i
    print(c)

sum(7,1,3,2)

rahul
20
sumit
25
aditya
18
amit
23
13

In [43]:
# 1. Write a Python function to find the Max of three numbers. 

def max_number(a,b,c):
    if a>b and a>c:
        print(a,'is gretaer')
    elif b>c and b>a:
        print(b,'is greater')
    elif c>a and c>b:
        print(c,'is greater')

In [46]:
max_number(89,100,8)

100 is greater

In [51]:
''' 10. Write a Python program to print the even numbers from a given list. Go to the editor
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9] '''

#method 1

l=[1,2,3,4,5,6,7,8,9]

def even():
    for i in l:
        if i%2==0:
            print(i)
        
even()

2
4
6
8

In [56]:
''' 10. Write a Python program to print the even numbers from a given list. Go to the editor
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9] '''

#method 2

def even(l):
    enum=[]
    for i in l:
        if i%2==0:
            enum.append(i)
    return enum
#print(even([1, 2, 3, 4, 5, 6, 7, 8, 9]))

In [57]:
even([1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

In [2]:
students = ["ramesh","suresh"]
marks=[45,89]
roll_no=[12,56]
list(zip(students,marks,roll_no))

[('ramesh', 45, 12), ('suresh', 89, 56)]

In [3]:
l=[2,456,67]
max(l)

456

In [37]:
min(l)

2

In [15]:
s="Mumbai"
for i in s:
    print(ord(i),i)
print(max(s))
min(s)

77 M
117 u
109 m
98 b
97 a
105 i
u

'M'

In [17]:
# types of parameter in function
#required 
#default
#keyword
#artibitary



#default
def cel_feh(c=67):
    f=9/5*c+32
    print(f)
    c1=(f-32)*5/9
    print(c1)
cel_feh(25)

77.0
25.0

In [21]:
# keyword
def name (fname,lname="singh"):
    print(lname,fname)
    
name("aman")
name("aman","teja")

singh aman

In [ ]:

def name(fname,lname):
    print(fname,lname)
name(fname='aman',lname='singh')

In [22]:
#arbitory 1. args

def fun(*a):
    for i in a:
        print(i)
fun(34,67,"dam",90.89)

34
67
dam
90.89

In [29]:
#arbitory 2. args

def fun2(**a):
    print(type(a))
    print(a)
    for i,j in a.items():
        print(i,":",j)

fun2(h=12.78,b="aman",c=67,d=17,e="dog")

<class 'dict'>
{'h': 12.78, 'b': 'aman', 'c': 67, 'd': 17, 'e': 'dog'}
h : 12.78
b : aman
c : 67
d : 17
e : dog

In [36]:
p=-4
a=p**2
a

16

In [33]:
def fun():
    global z
    z=10
    print(z)
fun()
z

10

10