In [ ]:
# nested loop

In [3]:
for i in range(1,3):
    print(i)
    for j in ["a","b"]:
        print(j)
        for k in ["c",'d','e']:
            print(k)

1
a
c
d
e
b
c
d
e
2
a
c
d
e
b
c
d
e

In [10]:
for i in range(1,5):
    print(i)
    for j in range (10,12):
        print(j)
        for k in ["aman","neha","ram"]:
            print(k)

1
10
aman
neha
ram
11
aman
neha
ram
2
10
aman
neha
ram
11
aman
neha
ram
3
10
aman
neha
ram
11
aman
neha
ram
4
10
aman
neha
ram
11
aman
neha
ram

wap to print table in reverse order 3 to 6:

In [24]:
for i in range(3,6):
    print("table of ",i)
    for j in range(10,0,-1):
        t=i*j
        
        print(i,"*",j,"=",t)
    print("*******")

table of  3
3 * 10 = 30
3 * 9 = 27
3 * 8 = 24
3 * 7 = 21
3 * 6 = 18
3 * 5 = 15
3 * 4 = 12
3 * 3 = 9
3 * 2 = 6
3 * 1 = 3
*******
table of  4
4 * 10 = 40
4 * 9 = 36
4 * 8 = 32
4 * 7 = 28
4 * 6 = 24
4 * 5 = 20
4 * 4 = 16
4 * 3 = 12
4 * 2 = 8
4 * 1 = 4
*******
table of  5
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5
*******

In [6]:
# wap to 20 to 30 how many num are prime and composite num in range of 20 - 30
d,e=0,0
for i in range(20,31):
    c=0
    for j in range(1,i+1):
        if i%j==0:
            c=c+1
    if c>2:
        d=d+1
        print("composite",i)
        
    else:
        e=e+1
        print("prime",i)
print("total num of primes in 20-30 are:",d)
print("total num of composite 20-30", e)

composite 20
composite 21
composite 22
prime 23
composite 24
composite 25
composite 26
composite 27
composite 28
prime 29
composite 30
total num of primes in 20-30 are: 9
total num of composite 20-30 2

0
1
2
3
4